
:root{
  --darkBlue:rgb(0, 0, 42);
  --lightBlue:rgb(33, 33, 74);
  --darkGray:#a1a1a1;
  --lightGray:#cacaca;
}

body{
  background:var(--darkBlue);
  padding:0px;
  margin:0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
  cursor:pointer;
}
.currentDate{
  color:var(--darkGray);
  font-size:14px;
  margin-top:10vh;
  text-align: center;
}
.overviewImage{
  width:80%;
  padding:2em 0em 0em 0em;
}
.overviewTemp{
  color:white;
  font-size:60px;
  font-weight: bolder;
  text-align: center;
  margin:0px;
}
.overviewDescription{
  color:var(--lightGray);
  font-size:18px;
  text-align: center;
}
.overviewTempDegrees{
  color:var(--lightGray);
  font-weight: lighter;
  font-size:25px;
}
.overview{
  background:var(--lightBlue);
  width:25%;
  padding:5vh 5vh;
  height:90vh;
}
.overviewHeader{
  /* background:red; */
  display:flex;
  justify-content: space-between;
}
.overviewSearchButton{
  background: var(--darkGray);
  color:white;
  border:none;
  padding:0px 15px;
}
.overviewLocationButton{
  background:var(--darkGray);
  color:white;
  border:none;
  border-radius: 50%;
  height:33px;
  width:33px;
}